.user-form{
    max-width: 400px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 8%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.main-form{
    border: none;
    border-radius: 10px;
    max-height: max-content;
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    background-image: url("../Image/Cover.jpg");
    border-image: fill 0 linear-gradient(rgba(117, 117, 117, 0.2), #4d4c4c);
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.fade-in-text {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: larger;
  animation: fadeIn 5s;
  border: 1px solid transparent;
  border-radius: 25px;
  margin: 5px 5px 5px 5px;
  background-color: #f4f4f4;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

label {
    display: block;
    padding: 8px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
}

input,
select {
    width: 80%;
    padding: 8px;
    margin-bottom: 5px;
    margin-left: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid transparent;
}

select {
    cursor: pointer;
}

.form-btn {
    background-color: white;
    border-radius: 10px;
    border: none;
    color: #0056b3;
    padding: 10px 15px;
    margin: 5px 10px 2px 2px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    float: right;
}

button:hover {
    background-color: #0056b3;
    color: White;
    font-size: larger;
    font-weight: bold;
}

.form-error{
    color: red;
    text-shadow: 10px 10px 20px white;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-left: 10px;
}


